body, html, ul, ol, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

.header-title {
  font-size: 40px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  padding: 100px 90px 0px 110px;
}

.menu-item + .menu-item {
  margin-left: 30px;
}

.menu-item:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.menu-item {
  border-radius: 35px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  transition: .3s background-color ease, .3s color ease;
  width: 100px;
}

.menu-list {
  align-items: center;
  display: flex;
  font-size: 22px;
  list-style: none;
}
